@page
@model CRUD_NetRazor.Pages.StudentsView.IndexModel
@{
        ViewData["Title"] = "Lista de Alumnos";
}
@if (Model.Message != null)
{
        <div class="alert alert-succes alert-dismissible fade show" role="alert">
        @Model.Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-secondary">LISTA DE ALUMNOS</h2>
            </div>
            <div class="col-sm-6 btn-new">
                <a asp-page="CreateStudent" class="btn btn-dark"> Nuevo Alumno</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (Model.Students.Count() > 0)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(m => m.Students.First().Id)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.Students.First().Name)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.Students.First().Surname)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.Students.First().Date_birth)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.Students.First().number_of_courses)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.Students.First().Admission_date)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.Students.First().Admission_hour)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.Students.First().Eggres_date)</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model.Students)
                    {
                        if (i.is_eliminated == false)
                        {
                            <tr>
                                <th scope="row">@Html.DisplayFor(m => i.Id)</th>
                                <td>@Html.DisplayFor(m => i.Name)</td>
                                <td>@Html.DisplayFor(m => i.Surname)</td>
                                <td>@Html.DisplayFor(m => i.Date_birth)</td>
                                <td>@Html.DisplayFor(m => i.number_of_courses)</td>
                                <td>@Html.DisplayFor(m => i.Admission_date)</td>
                                <td>@Html.DisplayFor(m => i.Admission_hour)</td>
                                <td>@Html.DisplayFor(m => i.Eggres_date)</td>
                                <td>
                                    <a asp-route-id="@i.Id" asp-page="EditStudent" class="btn btn-dark"> Editar </a>
                                    <a asp-page-handler="Delete" asp-route-id="@i.Id" onclick="return confirm('¿Está seguro de eliminar este registro?')" class="btn btn-dark">Eliminar</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>