@page
@model CRUD_NetRazor.Pages.ProfessorsView.IndexModel
@{
        ViewData["Title"] = "Lista de Profesores";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-info">LISTA DE ALUMNOS</h2>
            </div>
            <div class="col-sm-6 btn-new">
                <a asp-page="Create" class="btn btn-dark"> Nuevo Alumno</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (Model.Professors.Count() > 0)
        {
            <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">@Html.DisplayNameFor(m => m.Professors.First().Id)</th>
                  <th scope="col">@Html.DisplayNameFor(m => m.Professors.First().Name)</th>
                  <th scope="col">@Html.DisplayNameFor(m => m.Professors.First().Surname)</th>
                  <th scope="col">@Html.DisplayNameFor(m => m.Professors.First().Date_birth)</th>
                  <th scope="col">@Html.DisplayNameFor(m => m.Professors.First().Specialty)</th>
                  <th scope="col">@Html.DisplayNameFor(m => m.Professors.First().Admission_date)</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                  @foreach(var i in Model.Professors)
                        {
                        <tr>
                        
                            <th scope="row">@Html.DisplayFor(m => i.Id)</th>
                                <td>@Html.DisplayFor(m => i.Name)</td>
                                <td>@Html.DisplayFor(m => i.Surname)</td>
                                <td>@Html.DisplayFor(m => i.Date_birth)</td>
                                <td>@Html.DisplayFor(m => i.Specialty)</td>
                                <td>@Html.DisplayFor(m => i.Admission_date)</td>
                                <td>
                                    <a asp-route-id="@i.Id" asp-page="Edit" class="btn btn-dark"> Editar </a>
                                    <button asp-page-handler="Delete" asp-route-id="@i.Id" onclick="return confirm('¿Está seguro de eliminar este registro?')" class="btn btn-dark">Eliminar</button>    
                                </td>
                        </tr>
                        }
              </tbody>
            </table>
        } else
        {
            <p>Aún no existen profesores registrados</p>
        }

        
    </div>
</div>